/* Global Styles */
body {
  background-color: rgb(142, 141, 141);
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333; /* Default text color */
}

/* Header Styles */
.header {
  background-color: #0066cc;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #0066cc;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Service Details Styles */
.service-details-container {
  padding: 20px;
  background-color: #f8f8f8;
}

.service-details-container h2 {
  color: #0066cc;
  margin-bottom: 10px;
}

.service-details-container p {
  margin-bottom: 15px;
}

/* Footer Styles */
.footer {
  background-color: #f8f8f8;
  padding: 3px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  background-color: rgb(11, 11, 108);
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
 .footer-copyright {
  font-size: 8px;
}

/* Hero Section Styles */
#hero {
  background-image: url('/Users/rcrosby22/SEI-R-4-24/unit4/AdrenalineSportFishing/client/src/assets/images/Adrenaline_sport_fishing/Screenshot 2023-07-15 at 12.12.18 AM.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 55rem;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#hero h2 {
  font-size: 2rem;
}

/* Services Section Styles */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: 300px;
}

.service-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.service-title {
  font-size: 18px;
  margin-top: 10px;
}

.service-description {
  font-size: 14px;
  margin-top: 5px;
}

/* Review Section Styles */
.review-container {
  display: flex;
  overflow: hidden;
}

.comment {
  background-color: #f5f5f5;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.comment::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.comment::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f5f5f5;
}

.comment:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Why Us Section Styles */
.Why {
  background-color: lightgrey;
  padding: 10rem;
  border-bottom: 1px solid gray;
}

.mil {
  background-color: rgb(152, 152, 224);
  padding: 5rem;
}