/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* photos reviews  */
body{
  background-color: #85d7e5;
  min-height: 300vh;
  overflow: auto;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.review-container {
  display: flex;
  overflow: hidden;
}

.review {
  flex: 0 0 100%;
  transition: transform 0.3s ease;
}

.review.active {
  transform: translateX(0);
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
}

.prev {
  transform: rotate(180deg);
}
.app-container {
  min-height: 100vh;
  position: relative;
}
/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 3px;
  text-align: center;
}

.footer-content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#hero {
  background-image: url('./assets/images/Adrenaline_sport_fishing/FB_IMG_1689166479415.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}
/*
@media screen and (min-width: 800px){
  body {
    color: red;
  }
}
*/